body {
    font-family: 'Tinos', 'Noto Sans', "sans-serif";
}

.container {
    position: relative;
    width: 1024px;
    left: 50%;
    margin-left: -512px;
}

.profileimage {
    width: 256px;
    height: 256px;
    float: right;
    display: block;
}

.profiletext {
    display: block;
    vertical-align: top;
}

.topdiv {
    height: 100%;
    margin-top: 16px;
}

.powered {
    width: 100%;
    font-size: 0.8em;
    margin-top: 64px;
}

.li-withoutstyle {
    list-stype: none;
}

@media screen and (max-width: 600px) {
    .profileimage {
        position: relative;
        float: none;
        left: 50%;
        margin-left: -128px;
    }
}

@media screen and (max-width: 1080px) {
    .container {
        position: absolute;
        width: 96%;
        left: 0%;
        margin-left: 0px;
        padding: 0 2% 0 2%;
    }

}
@media (prefers-color-scheme: light) {
    body {
        background-color: #FFFFFF;
        color: #000000;
    }

    a:link {
        color: #0000FF;
    }

    a:visited {
        color: #4B2088;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #313235;
        color: #FFFFFF;
    }

    a:link {
        color: #8CA7FC;
    }

    a:visited {
        color: #E0BBE4;
    }
}
