body {
    font-family: 'Tinos', 'Noto Sans', "sans-serif";
}

.container {
    position: relative;
    width: 1024px;
    left: 50%;
    margin-left: -512px;
}

.profileimage {
    display: inline-block;
    width: 256px;
    height: 256px;
    margin-right: 48px;
    margin-top: 16px;
}

.profiletext {
    display: inline-block;
    vertical-align: top;
}

.topdiv {
    height: 272px;
}

.powered {
    width: 100%;
    font-size: 0.8em;
    margin-top: 64px;
}

.li-withoutstyle {
    list-stype: none;
}

@media screen and (max-width: 1080px) {
    .container {
        position: absolute;
        width: 96%;
        left: 0%;
        margin-left: 0px;
        padding: 0 2% 0 2%;
    }

    .topdiv {
        height: 100%;
    }

    .profileimage {
        display: block;
    }

    .profiletext {
        display: block;
    }
}
