body {
    font-family: 'Tinos', 'Noto Sans', "sans-serif";
}

.container {
    position: relative;
    width: 1024px;
    left: 50%;
    margin-left: -512px;
}

.profileimage {
    float: left;
    width:256px;
    height:256px;
    margin-right: 48px;
}

.topdiv {
    height: 256px;
}

.bottomdiv {
    clear: left;
}

.powered {
    width: 100%;
    font-size: 0.8em;
    margin-top: 64px;
}
